<spinner *ngIf="showSpinner"></spinner>
<header-app [user]="user"></header-app>
<div class="create-event">
	<div class="container">
		<form [formGroup]="myForm" (ngSubmit)="addEvent()">
			<div class="form-group">
				<label for="name">Nombre del Torneo</label>
				<input formControlName="name" type="text" id="name" class="form-control" [(ngModel)]="event.name">
			</div>
			<div class="input-group">
				<label for="date">Fecha</label>
				<input formControlName="date" type="date" id="date" class="form-control" [(ngModel)]="event.date">
			</div>
			<div class="input-group">
				<label for="numberOfPlayers">Jugadores por linea</label>
				<select formControlName="numberOfPlayers" id="numberOfPlayers" [(ngModel)]="event.numberOfPlayers">
					<option *ngFor="let number of numberOfPlayers" [value]="number">
						{{number}}
					</option>
				</select>
			</div>
			<div class="input-group">
				<label for="teeTimesIntervals">Intervalo entre horarios de salida</label>
				<select formControlName="teeTimesIntervals" id="teeTimesIntervals" [(ngModel)]="event.teeTimesInterval">
					<option *ngFor="let interval of teeTimesIntervals" [value]="interval">
						{{interval}}
					</option>
				</select>
				minutos.
			</div>
			<h3>Turno mañana</h3>
			<div class="input-group">
				<label for="morningShiftStartHours">Hora inicio</label>
				<select formControlName="morningShiftStartHours" id="morningShiftStartHours"
						[(ngModel)]="event.morningShiftStartHours">
					<option *ngFor="let hour of hours" [value]="hour">
						{{hour}}
					</option>
				</select>
				:
				<select formControlName="morningShiftStartMinutes" id="morningShiftStartMinutes"
						[(ngModel)]="event.morningShiftStartMinutes">
					<option *ngFor="let minute of minutes" [value]="minute">
						{{minute}}
					</option>
				</select>
			</div>
			<div class="input-group">
				<label for="morningShiftEndHours">Hora cierre</label>
				<select formControlName="morningShiftEndHours" id="morningShiftEndHours"
						[(ngModel)]="event.morningShiftEndHours">
					<option *ngFor="let hour of hours" [value]="hour">
						{{hour}}
					</option>
				</select>
				:
				<select formControlName="morningShiftEndMinutes" id="morningShiftEndMinutes"
						[(ngModel)]="event.morningShiftEndMinutes">
					<option *ngFor="let minute of minutes" [value]="minute">
						{{minute}}
					</option>
				</select>
			</div>
			<div>
				<input formControlName="showAfternoonInput" type="checkbox" [(ngModel)]="showAfternoon"
					   value="showAfternoon"> Agregar turno tarde
			</div>
			<div class="input-group" *ngIf="showAfternoon">
				<h3>Turno tarde</h3>
				<label for="afternoonShiftStartHours">Hora inicio:</label>
				<select formControlName="afternoonShiftStartHours" id="afternoonShiftStartHours"
						[(ngModel)]="event.afternoonShiftStartHours">
					<option *ngFor="let hour of hours" [value]="hour">
						{{hour}}
					</option>
				</select>
				:
				<select formControlName="afternoonShiftStartMinutes" id="afternoonShiftStartMinutes"
						[(ngModel)]="event.afternoonShiftStartMinutes">
					<option *ngFor="let minute of minutes" [value]="minute">
						{{minute}}
					</option>
				</select>
			</div>
			<div class="input-group" *ngIf="showAfternoon">
				<label for="afternoonShiftEndHours">Hora cierre:</label>
				<select formControlName="afternoonShiftEndHours" id="afternoonShiftEndHours"
						[(ngModel)]="event.afternoonShiftEndHours">
					<option *ngFor="let hour of hours" [value]="hour">
						{{hour}}
					</option>
				</select>
				:
				<select formControlName="afternoonShiftEndMinutes" id="afternoonShiftEndMinutes"
						[(ngModel)]="event.afternoonShiftEndMinutes">
					<option *ngFor="let minute of minutes" [value]="minute">
						{{minute}}
					</option>
				</select>
			</div>
			<div>
				<input formControlName="addTee" type="checkbox" *ngIf="addTee" [(ngModel)]="addTee"
					   value="addTee"> Repetir horarios para salidas desde el hoyo 10
			</div>
			<button type="submit" [disabled]="!myForm.valid" class="btn btn-primary">Guardar</button>
		</form>
	</div>
</div>
