<spinner *ngIf="showSpinner"></spinner>
<toast></toast>
<h3>Ingrese su email</h3>
<div class="container">
    <form [formGroup]="myForm" (ngSubmit)="sendPasswordWithEmail()">
        <div class="form-group">
            <label for="email">E-Mail</label>
            <input formControlName="email" type="email" id="email" class="form-control">
        </div>
        <button type="submit" [disabled]="!myForm.valid" class="btn btn-primary">Enviar</button>
    </form>
    <a routerLink='/login'>Iniciar sesión</a>
</div>