<spinner *ngIf="showSpinner"></spinner>
<toast></toast>
<div class="forgot-password">
    <logo-app></logo-app>
    <div class="container">
        <form [formGroup]="myForm" (ngSubmit)="sendPasswordWithEmail()" id="my-form">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input formControlName="email" type="email" id="email" class="form-control">
            </div>
            <br>
            <div class="g-recaptcha"  data-callback="captchaClicked" data-sitekey="6LfzdhwUAAAAAIejoAOkQphxUAzGTQj1FQCBAz7a"></div>
            <br>
            <button type="submit" [disabled]="!myForm.valid" class="btn btn-primary block">Enviar</button>
        </form>
        <a routerLink='/login' class="btn btn-secondary block link">Iniciar sesión</a>
    </div>
</div>