<spinner *ngIf="showSpinner"></spinner>
<header-app [user]="user"></header-app>
<div class="container">
    {{event.name}}
    <table border="1">
        <thead>
        <th>Horario</th>
        <th *ngFor="let index of heading;">
            Jugador {{index}}
        </th>
        </thead>
        <tbody>
        <tr *ngFor="let event of rows; let i = index">
            <td>{{event.time | date:'HH:mm'}}</td>
            <td id={{event.time}} *ngFor="let content of event.content; let j = index"
                (click)="addBooking($event)">
                {{content.name}}
            </td>
        </tr>
        </tbody>
    </table>
</div>