<toast></toast>
<spinner *ngIf="showSpinner"></spinner>
<header-app [user]="user"></header-app>
<div class="single-event">
	<div class="container">
		<h2 class="event-name">{{event.name}}</h2>
		<p class="event-date">Fecha: {{event.date | date:'dd/MM/yyyy'}}</p>
		<p class="explain">Haga click en el lugar que desee inscribirse dentro de la grilla.</p>
		<div *ngIf="showUsersSelect" class="admin-user-select">
			Seleccione jugador para inscribir:
			<select name="" id="" [(ngModel)]="selectedUser" class="user-selection">
				<option [ngValue]="usersList[u]" *ngFor="let u of usersIds">
					{{usersList[u].name}}
				</option>
			</select>
		</div>
		<table class="schedule-table">
			<thead>
			<th>Horario</th>
			<th *ngFor="let index of heading;">
				Jugador {{index}}
			</th>
			</thead>
			<tbody>
			<tr *ngFor="let event of rows; let i = index">
				<td class="time-col">{{event.time | date:'HH:mm'}}</td>
				<td [ngClass]="{'has-content':content.id != null}"
					*ngFor="let content of event.content; let j = index"
					(click)="addBooking(event.content[j])">
					{{content.user.name}}
					<img src="../../../public/images/close.svg" alt="close"
						 class="close" *ngIf="(user.id === event.content[j].user.id) || user.role === 1 && content.id !=
					null"
						 (click)="removeBooking(content.id)">
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
